* {
    transition: background .5s ease;
}
#pageWrap{
    margin:auto;
    width:95%;
    max-width:1280px;
    border-radius:6px;
    overflow:hidden;
    background-color: #d0ceba;
}
section{
    min-height:25vh;
}
#pageWrap.dark{
    background-color: #162b51;
}
#nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight:bold;
    padding-top:15px;
    background-color:#417B5A;
    padding:20px;
    box-shadow: 1px 5px 5px #888888;
}
#nav.dark{
    background-color: #0F1F3D;
    opacity: 1;
}
#navName{
    font-size:1.75em;
    flex:50%;
}
#navUIMenu{
    height:40px;
    width:40px;
    scale:.75;
    flex:25%;
}
#navUIMenu:hover{
    cursor:pointer;
}
#navUIDark{
    height:40px;
    width:40px;
    scale:.75;
    flex:25%;
}
#navUIDark:hover{
    cursor:pointer;
}
#dropdownContent{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #d0ceba;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    min-width: 150px;
    z-index: 2;
    cursor: pointer;
    border:1px solid black;
    
}
.dropdown-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left:15px;
    padding-right:15px;
}

#dropdownContent.dark{
    background-color: #251ee3dd;
}

#dropdownContent div:hover{
    background-color: #cbab95;
}
#dropdownContent.dark div:hover{
    background-color: #725790;
}



#about{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    padding:5px;

}
#aboutContent{
    margin-bottom:10px;
}
#aboutImgContainer{
    width:250px;
    height:150px;
    background-image:url("imgs/newyork.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    opacity:1;
}


#skills{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#projects{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.projectPreview{
    height:250px;
    width:250px;
    align-content: space-around;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: grey;
    border:2px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
}
.projectPreview img{
    aspect-ratio: 1/1;
    width:65%;
}
img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.projectWrap{
    display:flex;
    flex-wrap:wrap;
    flex:20%;
}
.gitUIContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    padding:5px;
}
#resume {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    padding:5px;
}
#resumeFrame{
    background-color: white;
}


/*Page Wide Styles*/
h1{
    font-size: 1.5em;
    padding-left:5px;
}
#aboutContent h2{
    font-size:1.25em;
    padding-left:0px;
    font-weight: normal;
    text-decoration: underline;
    font-family:monospace;
}
section{
    min-height:25vh;
}
/*Background Styles and Animations*/
a{
    text-decoration: none;
    color:black;
}
a.dark{
    color:white;
}
hr{
    height:1px;
    border:none;
    background-color: #417B5A;
    box-shadow: 1px 2px 2px #888888;
}
hr.dark{
    background-color: white;
    box-shadow: 1px 3px 3px #888888;
}

body{
    height:100%;
    background: url('imgs/BG-sky-compressed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    font-family: monospace;
    font-size:1.25em;
}
body.dark{
    color:white;
    background: linear-gradient(to bottom, #04142A, #0F1F3D); 
}
.cloud{
    position:absolute;
    width: 300px;
    height: auto;
}
.cloud1 {
    top:2%;
    left:1%;
}
.cloud2 {
    top:100%;
    right:100%;
}
.cloud3 {
    top:64%;
    left:100%;
}
.star{
    position:absolute;
    width:2px;
    height:2px;
    background-color:white;
    border-radius:50%;
    z-index: 3;
}
.star.hide{
    display:none;
}