* {
    transition: background .5s ease;
}
#pageWrap{
    margin:auto;
    width:95%;
    max-width:1280px;
    border-radius:6px;
    overflow:hidden;
    background-color: #d0ceba;
}
section{
    min-height:20vh;
}
#pageWrap.dark{
    background-color: hsla(219, 57%, 20%, 0.781);
}

#nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight:bold;
    padding-top:15px;
    background-color:rgb(65, 123, 90);
    padding:20px;
    box-shadow: 1px 5px 5px #888888;
    z-index:2;
    opacity:1;
    position:relative;
}
#nav.dark{
    background-color: hsla(229, 70%, 21%, 0.993);
}
#navName{
    font-size:1.75em;
    flex:50%;
}
#navUIMenu{
    height:40px;
    width:40px;
    scale:.75;
    flex:25%;
}
#navUIMenu:hover{
    cursor:pointer;
}
#navUIDark{
    height:40px;
    width:40px;
    scale:.75;
    flex:25%;
}
#navUIDark:hover{
    cursor:pointer;
}
@keyframes icon-in {
        0%   { opacity: 0; transform: scale(0.8) rotate(-10deg); }
        60%  { opacity: 1; transform: scale(1.1) rotate(6deg); }
        100% { opacity: 1; transform: scale(1) rotate(0); }
}
.icon-animate {
    animation: icon-in 250ms ease-out;
}
#dropdownContent{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #d0ceba;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    min-width: 150px;
    z-index: 2;
    cursor: pointer;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    opacity:1;
    
}
.dropdown-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left:15px;
    padding-right:15px;
}

#dropdownContent.dark{
    background-color: hsla(229, 70%, 21%, 0.993);
}

#dropdownContent div:hover{
    background-color: #cbab95;
}
#dropdownContent.dark div:hover{
    background-color: #725790;
}


#about{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;

}
#aboutContent{
    margin-bottom:10px;
}
#aboutImgContainer{
    width:250px;
    height:150px;
    background-image:url("imgs/newyork.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    opacity:1;
}


#skills{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#projects{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
}
.projectPreview{
    height:250px;
    width:250px;
    align-content: space-around;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: grey;
    border:2px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
}
.projectPreview img{
    aspect-ratio: 1/1;
    width:65%;
}
img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.projectWrap{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    flex:20%;
    align-items: center;
}
figcaption{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.gitUIContainer{
    display:flex;
    flex-wrap:wrap;
    margin-top:auto;
}
#resume {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    padding:5px;
}
#resumeFrame{
    background-color: white;
}


/*Page Wide Styles*/
/*Background Styles and Animations*/
a{
    text-decoration: none;
    color:black;
}
a.dark{
    color:white;
}
p {
    font-size: 1.07em;
}
li {
    font-size: 1.07em;
}
hr{
    height:1px;
    border:none;
    background-color: #417B5A;
    box-shadow: 1px 2px 2px #888888;
}
hr.dark{
    background-color: white;
    box-shadow: 1px 3px 3px #888888;
}
h1{
    margin-top:50px;
}
body{
    height:100%;
   /* background: url('imgs/BG-sky-compressed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    background: linear-gradient(to bottom, #60aac7, #B0E0E6);
    position: relative;
    font-family: monospace;
    font-size:1.25em;
}
body.dark{
    color:white;
    background: linear-gradient(to bottom, #01060c, #0b162c); 
}
.cloud{
    position:absolute;
    width: 300px;
    height: auto;
}
.cloud1 {
    top:2%;
    left:1%;
}
.cloud2 {
    top:100%;
    right:100%;
}
.cloud3 {
    top:64%;
    left:100%;
}
.star{
    position:absolute;
    width:2px;
    height:2px;
    background-color:white;
    border-radius:50%;
    z-index: -1;
    animation: twinkle 1.5s infinite alternate; 
}

@keyframes twinkle {
    0% {
        opacity: 0.4;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2); /* Slightly increase size for effect */
    }
    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}


.star.hide{
    display:none;
}