#nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight:bold;
    padding-top:15px;
    background-color:#417B5A;
    padding:20px;
    box-shadow: 1px 5px 5px #888888;
}
#navName{
    font-size:1.75em;
}
#navUI{
    height:50px;
    width:50px;
}


#about{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;

    margin:auto;
    padding:5px;
    font-size:1.15em;

}
#aboutContent{
    margin-bottom:10px;
}
#aboutImgContainer{
    width:250px;
    height:150px;
    background-image:url("imgs/newyork.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    opacity:1;
}

#skills{
    display:flex;
    justify-content: space-evenly;
}


#projects{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.projectPreview{
    height:150px;
    width:150px;
    background-color: grey;
    border:2px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
}

h1{
    font-size: 1.5em;
}
body{
    background-image:url("imgs/nature.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    height:100%;
    font-family: monospace;
}
section{
    min-height:25vh;
}
#pageWrap{
    margin:auto;
    width:95%;
    max-width:1280px;
    border-radius:6px;
    opacity: .8;
    overflow:hidden;
    background-color: #D0CEBA;
}